/*!
  OU-OpenID. © Nick Freear. © The Open University.
*/

body {
  background-color: #f4f4f4;
  color: #222;
  font: 1em sans-serif;
  line-height: 1.4em;
  margin: 1em auto;
  max-width: 40em;
  min-width: 26em;
}
li {
  margin-top: 0.6em;
}
a {
  color: #0080a7;
}
abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}
h1, h2,
label, button {
  color: #444;
  font-weight: bold;
}
body > div {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: .5rem;
  padding: .25em 1em;
}
input, button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .25rem;
  color: #373a3c;
  font-size: 1em;
  padding: .5rem 1rem;
  text-align: center;
}
input#oucu {
  width: 12em;
}
button {
  background: #eee;
  cursor: pointer;
}
input:focus {
  background: #ffffe0;
}
input:focus, button:focus,
input:hover, button:hover {
  border-color: #999;
}
input.XX[ name = openid_url ] {
  color: #666;
  display: none;
}
