/*!
  OU-OpenID. LESS/ CSS fixes etc. © Nick Freear. © The Open University.
*/

// ( @import 'less/ouop-hide-unused.less'; )

body {
  background-color: #f9f9f9;
}

div[ data-region = drawer ] {
  background-color: transparent;
}

#page-header .p-a-1 {
  padding: 0.1rem 1rem !important;
}

.course-content ul.topics li.section .left {
  padding: 0;
}

.card-block {
  padding: .6rem;
}


// ----------------------------------------
// Messages / links / HTML injected via plugin Javascript.

#ouop-course-link,
.oup-action-alert {
  display: block;
  text-align: center;
  font-size: 1.3em;
  padding: .7rem;
}

#page-local-tesla-views-agreement {

  iframe.ouop-consent-doc {
  //Was: iframe[ src *= 'docs.google.com' ] {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    height: 60em;
  }
}


// ----------------------------------------
// Simplify the Moodle user-interface (Boost theme)

.ouop-hide-unused-ui {

  // Course main page.
  a[ data-key = badgesview ],
  a[ data-key = participants ],
  a[ href *= coursecompetencies ],
  a[ data-key = grade ],
  a[ data-key = calendar ],
  a[ href *= 'user/files' ] { // csslint: Attribute selectors with *= are slow!
    display: none;
  }

  a[ data-title = 'grades,grades' ],
  a[ data-title = 'messages,message' ] {
    display: none;
  }

  #nav-message-popover-container,
  #nav-notification-popover-container,
  .XX.performanceinfo {
    display: none;
  }

  // User/edit page.
  &#page-user-edit {
    div[ data-fieldtype = select ],
    div[ data-fieldtype = editor ],

    #id_moodle_picture,
    #id_moodle_additional_names,
    #id_moodle_optional,
    #id_category_2,
    a.collapse-all,
    a.btn-link[ data-toggle ] {
      display: none;
    }

    label[ for = id_maildisplay ],
    label[ for = id_country ],
    label[ for = id_timezone ],
    label[ for = id_description_editor ] {
      display: none !important;
    }
  }

  // TeSLA enrolment status page.
  .col-tesla-status-fa,
  .col-tesla-status-fr,
  .col-tesla-status-vr {
    display: none;
  }
}


.performanceinfo {
  display: none;
}
.ouop_oucu-ndf42 {
  .performanceinfo {
    display: block;
  }
}


// End.
